/* CSS by Aleasha Green */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* Skip Link Styles */
#skip-link {
  position: absolute;
  left: -999px;
  height: 0;
  width: 0;
}
#skip-link:focus {
  position: fixed;
  left: 1rem;
  top: 1rem;
  height: auto;
  width: auto;
  padding: 0.5em;
}

/* Navigation Styles */
nav {
  text-align: center;
  text-transform: uppercase;
  background-color: var(--blue-bulletin);
  position: relative;
  padding: 1rem 0 0.5rem;
}
.menu-button {
  display: block;
  width: 90%;
  margin: 0 auto 0.5rem;
  padding: 0.5rem;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
}
.menu {
  display: none;
  position: absolute;
  width: 100%;
  background-color: transparent;
}
.menu a {
  display: block;
  width: 90%;
  margin: auto;
  border: 1px solid var(--blue-bulletin);
}
.menu a, #social a {
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  padding: 0.5rem;
  text-decoration: none;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.menu a:hover, #social a:hover {
  background-color: var(--blue-bulletin);
  border: 1px solid var(--news-flash);
}
#menu-toggle {
  position: absolute;
  opacity: 0;
}
#menu-toggle:checked ~ .menu {
  display: block;
}

/* Global Layout Styles */
body {
  background-color: var(--watchdog-white);
}
header {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  padding: 1rem 1rem 0;
}
#main-content > section:not(#social) {
  padding: 1rem;
}
/* articles */
article {
  padding: 1rem;
  border: 0.5px solid var(--truth-text);
  margin-bottom: 0.5rem;
  box-shadow: var(--shadow);
  transition: transform 0.5s ease;
}
article:hover {
  transform: scale(1.05);
}
article h3 {
  border-bottom: 0.5px solid var(--truth-text);
  margin-bottom: 0.5rem;
}
body.dark-mode article {
  border: 1px solid var(--story-subtitle);
}
body.dark-mode article h3 {
  border-bottom: 0.5px solid var(--story-subtitle);
}
.article-video {
  width: 100%;
  height: auto;
}
#breaking-news article {
  background-color: var(--news-flash);
  color: var(--watchdog-white);
}
#breaking-news h3 {
  border-bottom: 1px solid var(--watchdog-white);
}
/* form */
form {
  display: flex;
  flex-direction: column;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  padding: 1rem;
  box-shadow: var(--shadow);
}
form input {
  padding: 0.5rem;
  margin: 0.5rem 0;
}
fieldset {
  border: 1px solid var(--blue-bulletin);
  margin: 1rem 0;
  padding: 0.5rem;
}
fieldset legend {
  text-transform: uppercase;
}
input[type="checkbox"] {
  accent-color: var(--blue-bulletin);
}
input[type="checkbox"]:checked {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
}
form button {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  text-transform: uppercase;
  padding: 0.5rem;
  font-family: var(--font-body);
  border: 1px solid var(--blue-bulletin);
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}
form button:hover {
  background-color: var(--watchdog-white);
  color: var(--blue-bulletin);
}
.label-group {
  display: flex;
  flex-direction: column;
}
/* social links + footer */
#social {
  background-color: var(--blue-bulletin);
  padding: 1rem;
}
#social ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 1rem;
}
#social a {
  text-transform: uppercase;
  border: 1px solid var(--news-flash);
}
footer {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  text-align: center;
  font-weight: 300;
  padding: 1rem;
}

/* Global Text Styles */
body {
  font-family: var(--font-body);
  color: var(--truth-text);
}
h1 {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  font-weight: 300;
  padding-bottom: 0.5rem;
}
h2 {
  font-family: var(--font-heading);
  font-size: 1.25rem;
  font-weight: 300;
  padding: 1rem 0;
}
h3 {
  font-family: var(--font-heading);
  font-weight: 300;
  line-height: 1.5rem;
}
p {
  font-weight: 300;
  line-height: 1.5rem;
}
article p {
  line-height: 1.25rem;
}
blockquote {
  text-align: center;
  padding: 1rem 0 0;
}
label {
  font-weight: 300;
}
.tagline {
  font-family: var(--font-heading);
  font-size: 0.75rem;
  font-weight: 600;
}
#social h2 {
  color: var(--watchdog-white);
}

/* medium styles 620px */
@media screen and (min-width: 620px) {
  /* grid */
  #breaking-news, #featured-articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
  #breaking-news h2, #featured-articles h2 {
    grid-column: 1 / -1;
  }
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
  form fieldset {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr;
  }
  form button {
    grid-column: 1 / -1;
  }
  /* adjust padding */
  header {
    padding: 2rem 2rem 0;
  }
  nav {
    padding: 1rem;
  }
  #main-content > section:not(#social), #social, footer {
    padding: 2rem;
  }
  /* menu */
  .menu-button, #menu-toggle {
    display: none;
  }
  .menu {
    display: flex;
    position: static;
    gap: 0.5rem;
    padding: 0 1rem;
  }
  .menu a {
    width: auto;
    margin: 0;
  }
}

/* large styles 920px */
@media screen and (min-width: 920px) {
  /* grid */
  #featured-articles,  #alerts fieldset {
    grid-template-columns: repeat(3, 1fr);
  }
  /* adjust padding */
  header {
    padding: 4rem 4rem 0;
  }
  nav {
    padding: 1rem 3rem 1rem;
  }
  #main-content > section:not(#social), #social, footer {
    padding: 2rem 4rem 1rem;
  }
}

/* x-large styles 1024px */
@media screen and (min-width: 1024px) {
  /* grid */
  #featured-articles,  #alerts fieldset {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Interaction Queries for color scheme light and dark and motion preference */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--truth-text);
    color: var(--watchdog-white);
  }
  article {
    border: 1px solid var(--story-subtitle);
  }
  article h3 {
    border-bottom: 0.5px solid var(--story-subtitle);
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}

/* Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {
  body:has(#menu-toggle:checked) .menu {
    display: block;
  }
}